<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       
    <dubbo:application name="transfer-scan" owner="jackson" />
	
	<!-- 使用zookeeper注册中心发现服务地址 -->
	<dubbo:registry address="${zookeeper.address}" />

	<!-- 生成远程服务代理,可以和本地bean一样使用DubboDemo retries : 重发属性(default 3) -->
	<dubbo:reference id="agTransferService" interface="com.ds.transfer.common.service.TransferService" 
		group="ag" version="1.0.0" owner="jackson" />

	<dubbo:reference id="dsTransferService" interface="com.ds.transfer.common.service.TransferService" 
		group="money" version="1.0.0" owner="jackson" />
		
	<dubbo:reference id="bbinTransferService" interface="com.ds.transfer.common.service.TransferService" 
		group="bbin" version="1.0.0" owner="jackson" />
		
	<dubbo:reference id="h8TransferService" interface="com.ds.transfer.common.service.TransferService"
		group="h8" version="1.0.0" owner="jackson" />
		
	<dubbo:reference id="lmgTransferService" interface="com.ds.transfer.common.service.TransferService"
		group="lmg" version="1.0.0" owner="jackson" />
		
	<dubbo:reference id="kyTransferService" interface="com.ds.transfer.common.service.TransferService" 
		group="ky" version="1.0.0" owner="jackson" />

	<!--<dubbo:reference id="ogTransferService" interface="com.ds.transfer.common.service.TransferService"
					 group="og" version="1.0.0" owner="jackson" />

	<dubbo:reference id="sgsTransferService" interface="com.ds.transfer.common.service.TransferService" 
		group="sgs" version="1.0.0" owner="jackson" />
		
	<dubbo:reference id="kkwTransferService" interface="com.ds.transfer.common.service.TransferService" 
		group="kkw" version="1.0.0" owner="jackson" />-->
		
	<dubbo:reference id="transferRecordService" interface="com.ds.transfer.record.service.TransferRecordService" 
		group="support" version="1.0.0" owner="jackson" />

</beans>