<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation=
	  "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="transfer-api-http" owner="jackson" />
	
	<!-- 使用zookeeper注册中心发现服务地址 -->
	<dubbo:registry address="${zookeeper.address}" />

	<!-- 生成远程服务代理,可以和本地bean一样使用DubboDemo retries : 重发属性(default 3) -->
	<dubbo:reference id="agTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="ag" version="1.0.0" owner="jackson" timeout="60000" />
	
	<!-- 钱包 -->
	<dubbo:reference id="moneyCenter" interface="com.ds.transfer.common.service.TransferService" 
		group="money" version="1.0.0" owner="jackson" timeout="60000" />
	
	<!-- bbin视讯体育电子 -->
	<dubbo:reference id="bbinTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="bbin" version="1.0.0" owner="jackson" timeout="60000" />

	<dubbo:reference id="lmgTransfer" interface="com.ds.transfer.common.service.TransferService"
		group="lmg" version="1.0.0" owner="jackson" timeout="60000" />
	<!-- h8体育 -->
	<dubbo:reference id="h8Transfer" interface="com.ds.transfer.common.service.TransferService"
		group="h8" version="1.0.0" owner="jackson" timeout="60000" />

	<dubbo:reference id="kyTransfer" interface="com.ds.transfer.common.service.TransferService"
					 group="ky" version="1.0.0" owner="jackson" timeout="60000" />
	<!--
	&lt;!&ndash; og视讯 &ndash;&gt;
	<dubbo:reference id="ogTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="og" version="1.0.0" owner="jackson" timeout="60000" />
		
	&lt;!&ndash; mg电子 &ndash;&gt;
	<dubbo:reference id="mgTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="mg" version="1.0.0" owner="jackson" timeout="60000" />
		
	&lt;!&ndash; 分分彩 &ndash;&gt;
	<dubbo:reference id="fenfenLotto" interface="com.ds.transfer.common.service.TransferService" 
		group="lotto_fenfen" version="1.0.0" owner="jackson" timeout="60000" />
		
	&lt;!&ndash; 经典彩 &ndash;&gt;
	<dubbo:reference id="xiaoyuLotto" interface="com.ds.transfer.common.service.TransferService" 
		group="lotto_xiaoyu" version="1.0.0" owner="jackson" timeout="60000" />
		
	&lt;!&ndash; pt 电子 &ndash;&gt;
	<dubbo:reference id="ptTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="pt" version="1.0.0" owner="jackson" timeout="60000" />

	&lt;!&ndash; sgs &ndash;&gt;
	<dubbo:reference id="sgsTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="sgs" version="1.0.0" owner="jackson" timeout="60000" />
	
	&lt;!&ndash; kkw &ndash;&gt;
	<dubbo:reference id="kkwTransfer" interface="com.ds.transfer.common.service.TransferService" 
		group="kkw" version="1.0.0" owner="jackson" timeout="60000" />-->
		
</beans>
